{% extends 'base.html' %}

{% block extrahead %}
    {% load staticfiles %}
    <script src="{% static 'js/showsFunctions.js' %}"></script>
    <script src='{% static "js/comboBox.js" %}'></script>
<script>
    var bandNames = {{ bandObjectDict|safe }};
    var idDict = {{ idDictList|safe }};
</script>


{%  endblock %}

{%  block content %}

{#TODO: Add adjust proper css file for padding#}

  <div class="jumbotron" >
    <form id="bandPanel" method='POST'>
    {% csrf_token %}
        <table class='table' id="bandListTable">
            <thead>
                <th>Order</th>
                <th>Band Name</th>
                <th>Home Town</th>
                <th>Home State</th>
                <th>Genre</th>
            </thead>
            <tbody class="showBandList">
            {% for formGroup in BandFormSet %}
                <tr class="bandTableRow" id="bandRowID">
                    <td class="bandNumberClass" id="bandNumberID"></td>
                    <td class="bandNameClass">{{formGroup.bandName}}
                        <a class= 'btn btn-default editKey'><p>edit</p></a>
                        <a class='btn btn-default saveKey'><p>save</p></a></td>
                    <td class="bandTownClass">{{formGroup.bandTown}}                   
                       <a class= 'btn btn-default editKey'><p>edit</p></a>
                       <a class='btn btn-default saveKey'><p>save</p></a></td>
                    <td class="bandStateClass">{{formGroup.bandState}}
                       <a class= 'btn btn-default stateEdit'><p>edit</p></a>
                        <a class='btn btn-default stateSave'><p>save</p></a></td>
                    <td class="bandGenreClass">{{formGroup.genre}}
                        <a class= 'btn btn-default editKey'><p>edit</p></a>
                        <a class='btn btn-default saveKey'><p>save</p></a></td>
                </tr>   
            {% endfor %}
            </tbody>
        </table>


  </form>
  <div class='row form-group'>
          <a type="button" class="btn btn-primary btn-lg active" id="addBandBtn">
            Add Band</a>
  </div>
  </div>





{##TODO: Add adjust proper css file for padding#}
{% endblock %}
{% block extraTail %}
<script type="text/javascript" src='{% static "js/showsFunctions.js" %}'></script>

{% endblock %}

