{% extends 'base.html' %}

{% block extrahead %}
    {% load staticfiles %}
    <script src="{% static 'js/showsFunctions.js' %}"></script>
    <script src='{% static "js/comboBox.js" %}'></script>
<script>
    var bandNames = {{ bandObjectDict|safe }};
    var bandDictList = {{ bandDictList|safe }};
    var idDict = {{ idDictList|safe }};
</script>

{%  endblock %}

{%  block content %}

{#TODO: Add adjust proper css file for padding#}

  <div class="jumbotron" >
    <form id="bandPanel" method='POST'>
    {% csrf_token %}
        <table class='table' id="bandListTable">
            <thead>
                <th>Band Name</th>
                <th>Home Town</th>
                <th>Home State</th>
                <th>Genre</th>
                <th>Sub Genre</th>
            </thead>
            <tbody class="showBandList">
            {% for formGroup in BandFormSet %}
                <tr class="bandTableRow" id="bandRowID">
                    <td class="bandNumberClass" id="bandNumberID"></td>
                    <td class="bandNameClass">{{formGroup.bandName}}</td>
                    <td class="bandTownClass">{{formGroup.bandTown}}</td>
                    <td class="bandStateClass">{{formGroup.bandState}}</td>
                    <td class="bandGenreClass">{{formGroup.genre}}</td>
                    <td class="bandSubGenreClass">{{formGroup.subGenre}}</td>
                </tr>   
            {% endfor %}
            </tbody>
        </table>


  </form>
  <div class='row form-group'>
          <a type="button" class="btn btn-primary btn-lg active" id="addBandBtn">
            Add Band</a>

  </div>
</div>

<div class="jumbotron">
    <div class="container" style="padding: 10px">
    <div class="input-group">
        <label for="searchList">Search for a band: </label>
        <input id="searchList" data-list=".bandList">
    </div>

        <ul class="list-group">
            <div class="row">
                <div class="col-lg-2"><h4>Band Name</h4></div>
                <div class="col-lg-2"><h4>Home Town</h4></div>
                <div class="col-lg-2"><h4>Home State</h4></div>
                <div class="col-lg-2"><h4>Genre</h4></div>
                <div class="col-lg-2"><h4>Sub-Genre</h4></div>
            </div>
        <div class="list-group bandList">
            {% for bandObject in bandObjects %}
                <li class="list-group-item" bandID="{{ bandObject.bandID }}">
                <div class="row">
                    <span class="badge" style="background-color: transparent"><a href="#">add</a> </span>
                    <span class="badge" style="background-color: transparent"><a href="#">edit</a> </span>
                    <div class="col-md-2 bandNameSearch">{{ bandObject.bandName }}</div>
                    <div class="col-md-2 bandTown">{{ bandObject.homeTown }}</div>
                    <div class="col-md-2 homeState2">{{ bandObject.homeState2 }}</div>
                    <div class="col-md-2">{{ bandObject.genre }}</div>
                    <div class="col-md-2">{{ bandObject.subGenre }}</div>
                </div>
                </li>
            {% endfor %}
        </div>
        </ul>

    </div>
</div>





{##TODO: Add adjust proper css file for padding#}
{% endblock %}
{% block extraTail %}
<script type="text/javascript" src='{% static "js/showsFunctions.js" %}'></script>

{% endblock %}

